body{
    background-color: rgb(211, 148, 237);
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

h1{
    text-align: center;
    color:rgb(51, 15, 52)
}
.about


.projects { 
    display:flex; 
    flex-wrap:wrap;

 } 
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: rgb(238, 236, 239); /* pick a color */
border-radius: 25%;
}
.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(48, 19, 55); /* choose a color */
    display: block;
    margin: auto;
    }
a { /* change the appearance of ALL links */
        text-decoration: none;
        color: purple;
        }
        .project p { /* change the appearance of paragraph tags inside .project divs */
        text-align: center;
        margin: 15px;
        }